h2{
    font-family: League spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 1.5;
    text-decoration: rgb(67, 211, 250) underline ;
    text-transform: uppercase;
}